<!-- resumeItem.handlebars -->
<li>
    {{!-- ITEM --}}
    <h2>{{uniqueId}}</h2>
    <p>{{introduction}}</p>
    <p>{{json processedDetails.metadata}}</p>
    {{!-- <p>{{json processedDetails.metadata}}</p> --}}
    <!-- Add a link to the detail page for each resume -->
    <!-- Add a link to the detail page for each resume -->
    <p><a href="/resume/{{uniqueId}}">View Details</a></p>
</li>